* {
    margin: 0;
  }
  
  html {
    height: 150%;
    background-color: #BDCAF0;
  }
  .wrapper {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 8px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #53AAED;
    border: 3px solid #000000;
    color: black;
    text-align: center;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 2em;
    padding-top: 10px;
    z-index: 2;
  }
  
  h1 {
    position: absolute;
    top: 500%;
    left: 37%;
    text-align: center;
    color: #F00D00;
  }
  
  a {
    color: #6E2FF0;
    text-decoration: none;
    margin-right: 15px;
  }
  
  article {
    width: 100%;
    height: 80%;
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
  }
  
  .articles {
    width: 100%;
    height: 80px;
    margin-left: 2%;
    border-radius: 15px;
    position: relative;
    top: 100px;
  }

  .articles p {
    margin-bottom: 20px;
    color: #F0E58F;
}

  .product_grid {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
  }

  .product_grid img {
    width: auto;
    height: 200px;
    margin-right: 15px;
  }